<?xml version="1.0"?>
<robot name="mrbuggy3" xmlns:xacro="http://ros.org/wiki/xacro">
 
  <link name="base_link">
    <visual>
      <origin xyz="-.008 0 -.0202" rpy="0 0 1.5707"/>
      <geometry>
        <mesh filename="package://mrbuggy3_description/meshes/mrbuggy3.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.112 -0.10 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mrbuggy3_description/meshes/wheel.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.112 0.10 0" rpy="0 0 3.14159"/>
      <geometry>
        <mesh filename="package://mrbuggy3_description/meshes/wheel.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.1135 -0.10 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mrbuggy3_description/meshes/wheel.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.1135 0.10 0" rpy="0 0 3.14159"/>
      <geometry>
        <mesh filename="package://mrbuggy3_description/meshes/wheel.dae" scale="1 1 1" />
      </geometry>
    </visual>
  </link>

  <link name="base_footprint"/>

  <link name="lidar_link">
    <visual>
      <origin xyz="0 0 -.028" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mrbuggy3_description/meshes/STL27L.dae" scale="1 1 1" />
      </geometry>
    </visual>
  </link>

  <link name="/link/lidar_link/sensor/lidar/scan"/>

  <joint name="lidar_joint2" type="fixed">
    <parent link="lidar_link"/>
    <child link="/link/lidar_link/sensor/lidar/scan"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>

  <joint name="base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>

  <joint name="lidar_joint" type="fixed">
    <origin xyz="0.042 0 0.076" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="lidar_link"/>
  </joint>

</robot>
