<?xml version="1.0"?>
<robot name="b3rb" xmlns:xacro="http://ros.org/wiki/xacro">
 
  <link name="base_link">
    <visual>
      <origin xyz="0.002 0 -0.005" rpy="0 0 -1.5707"/>
      <geometry>
        <mesh filename="package://b3rb_description/meshes/b3rb.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.112 -0.10 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://b3rb_description/meshes/wheel.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.112 0.10 0" rpy="0 0 3.14159"/>
      <geometry>
        <mesh filename="package://b3rb_description/meshes/wheel.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.1135 -0.10 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://b3rb_description/meshes/wheel.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.1135 0.10 0" rpy="0 0 3.14159"/>
      <geometry>
        <mesh filename="package://b3rb_description/meshes/wheel.dae" scale="1 1 1" />
      </geometry>
    </visual>
  </link>

  <link name="base_footprint"/>
  <link name="camera_link_optical"/>
  <link name="camera_link"/>

  <link name="lidar_link">
    <visual>
      <origin xyz="0 0 -.028" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://b3rb_description/meshes/STL27L.dae" scale="1 1 1" />
      </geometry>
    </visual>
  </link>

  <joint name="base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>

  <joint name="lidar_joint" type="fixed">
    <origin xyz="0 0 0.155" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="lidar_link"/>
  </joint>

  <joint name="camera_joint" type="fixed">
    <origin xyz=".189 0 .156" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="camera_link"/>
  </joint>

  <joint name="camera_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
    <parent link="camera_link"/>
    <child link="camera_link_optical"/>
  </joint>

</robot>
